<form method="post" action="{{ path('app_categorie_article_delete', {'id': categorie.id}) }}" onsubmit="return confirm('Etes vous sure de vouloir supprimer cet categorie?!');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie.id) }}">
    <button class="btn"><i class="bx bx-trash me-1"></i></button>
</form>
