{% block content %}
    <p>Votre proposition d'Echange est accepter. Le titre de cet Echange : {{ echange.getTitreEchange() }}</p>
    <img src=" {{ asset('assets/img/logo/treydi3.png') }} " alt="Your Logo">
{% endblock %}