{# only loop on first 3 articles#}
<div class="blog-widget">
    <h4 class="fw-title">Recent Posts</h4>
    <div class="rc__post-wrapper">
        {% for article in articles|slice(0, 3) %}
        <div class="rc__post-item">
            <div class="rc__post-thumb">
                <a href="blog-details.html"><img src="{{ asset('assets/img/blog/rc_post01.jpg') }}" alt="img"></a>
            </div>
            <div class="rc__post-content">
                <h6 class="title"><a href="{{ path('app_article_front_show', {'id': article.id} ) }}">{{ article.titre }}</a></h6>
                <span class="date">{{ article.datePublication|date('M-d-Y') }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
