{% extends 'base.html.twig' %}

{% block title %}Edit Coupon{% endblock %}

{% block body %}
    <h1>Edit Coupon</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}