<form method="post" action="{{ path('app_article_ratings_delete', {'id': article_rating.id}) }}" onsubmit="return confirm('Etes vous sure de vouloir supprimer ce rating?!?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article_rating.id) }}">
    <button class="btn">Delete</button>
</form>
