<li class="nav-item dropdown-language dropdown me-2 me-xl-0">
    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
        <i class='fi fi-us fis rounded-circle fs-3 me-1'></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-end">
        <li>
            <a class="dropdown-item" href="javascript:void(0);" data-language="en">
                <i class="fi fi-us fis rounded-circle fs-4 me-1"></i>
                <span class="align-middle">English</span>
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="javascript:void(0);" data-language="fr">
                <i class="fi fi-fr fis rounded-circle fs-4 me-1"></i>
                <span class="align-middle">France</span>
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="javascript:void(0);" data-language="de">
                <i class="fi fi-de fis rounded-circle fs-4 me-1"></i>
                <span class="align-middle">German</span>
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="javascript:void(0);" data-language="pt">
                <i class="fi fi-pt fis rounded-circle fs-4 me-1"></i>
                <span class="align-middle">Portuguese</span>
            </a>
        </li>
    </ul>
</li>