.rating {
    font-size:50px;
 /*   border: solid red 2px !important;*/
}

.rating-well {
    display: inline-block;
    direction: rtl;
}

.rating input.rating {
    display: none;
}

.rating div.star , .rating span.star {
    font-family:FontAwesome;
    font-weight:900;
    font-style:normal;
    font-size: 25px;
    display:inline-block;
    position: relative;
}

.rating div.star:hover , .rating span.star:hover {
    cursor:pointer;
}

.rating div.star:before, .rating span.star:before {
    content:"\f006";
    padding-right:5px;
    color:#999;
}

.rating div.star:hover:before,.rating div.star:hover~div.star:before, .rating span.star:hover:before,.rating span.star:hover~span.star:before {
    content:"\f005";
    color:#e3cf7a;
}

.rating div.star-full, .rating span.star-full {
    font-family: FontAwesome;
    font-weight:normal;
    font-style:normal;
    font-size: 25px;
    display:inline-block;
    position: relative;

}

.rating div.star-full:before, .rating span.star-full:before  {
    content:"\f005";
    /*border: solid red 2px !important;*/
    padding-right:5px;
    color:red !important;
}

.rating div.star-empty, .rating span.star-empty {
    font-weight:normal;
    border: solid green 2px;
    font-style:normal;
    font-size: 25px;
    display:inline-block;
    position: relative;
}

.rating div.star-empty:before ,.rating span.star-empty:before  {
    content:"\f006";

    padding-right:5px;
    color:pink;
    border: solid blue 2px;
}

.rating div.fa-norm , .rating span.fa-norm{
    font-size: 1em;

}

.rating div.fa-lg , .rating span.fa-l   g{
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}

.rating div.fa-2x, .rating span.fa-2x {
    font-size: 2em;
}

.rating div.fa-3x, .rating span.fa-3x {
    font-size: 3em;
}

.rating div.fa-4x, .rating span.fa-4x {
    font-size: 4em;
}

.rating div.fa-5x , .rating span.fa-5x{
    font-size: 5em;
}
.rating div.star-full:before{
    color: royalblue; !important;
}